
@{
    Layout = "_Layout";
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}
<br />
<br />
<br />
<br />

<h2>@ViewData["Title"]</h2>

<div class="alert alert-info" role="alert">
    Si tu dirección de correo electrónico está registrada en nuestro sistema, recibirás un correo electrónico con un enlace para restablecer tu contraseña en unos minutos.
</div>
