@model E_Commerce_App.WebUI.ViewModels.UserViewModel.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Olvidé mi contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>Ingrese su dirección de correo electrónico para restablecer su contraseña.</p>

@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["StatusMessage"]
    </div>
}

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label for="Email">Correo electrónico</label>
        <input type="email" class="form-control" id="Email" asp-for="Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar enlace de restablecimiento</button>
</form>
