@{ Layout = null;}
@model E_Commerce_App.WebUI.ViewModels.UserViewModel.LoginViewModel
<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/signin-up.css" />
    <!-- Toastr Css -->
    <link rel="stylesheet" href="~/css/toastr.min.css" />
</head>
<body>
    <div class="overlay">
        <form asp-controller="Account" asp-action="Login" id="login-form">
            <div class="con">
                <header class="head-form">
                    <h2>Mercado electrónico</h2>
                    <p>Introduzca su dirección de correo electrónico y contraseña.</p>
                </header>
                <br>
                <div class="field-set">
                    <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    <input type="text" class="form-input" asp-for="@Model.Email" id="txt-input" placeholder="Email address" required>
                    <br>
                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" class="form-input" asp-for="@Model.Password" placeholder="Password" id="pwd" required>
                    <span>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                    </span>
                    <br>
                    <button class="log-in"> Acceso </button>
                </div>
                <div class="other">
                    <button class="btn submits frgt-pass">Olvidé mi contraseña</button>
                    <button class="btn submits sign-up">
                        Registro
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- Bootstrap & Jquery -->
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Toastr JS -->
    <script src="~/js/toastr.min.js"></script>
    <!-- Account Custom JS -->
    <script src="~/customPagesJs/account.js"></script>
</body>
</html>