@model E_Commerce_App.WebUI.ViewModels.UserViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "Restablecer contraseña";
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="Password">Nueva contraseña</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
</form>
